/* Sidebar Left Layout */
@media only screen and (min-width: 55em) {
	.sidebar-left .content-area {
		float: right;
		padding-right: 0;
		padding-left: 4em;
	}

	.sidebar-left .sidebar {
		float: left;
	}
}

/* Sticky Header */
.sticky-header .site-header {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
}

.sticky-header.admin-bar .site-header {
	top: 32px;
}

.sticky-header .header-bar-wrap,
.sticky-header .before-header-widget-area {
	display: none;
}

/* Small Header */
@mixin small-header {
	.site-header .site-branding,
	.primary-navigation,
	.primary-menu-toggle {
		margin-top: 0;
		margin-bottom: 0;
		transition: all 0.4s ease;
	}
	.site-header .site-branding .site-title {
		margin: 0;
		font-size: 24px;
		font-size: 1.5rem;
		margin: .4em 0;
	}
	
	.site-header .site-branding .custom-logo {
		margin-top: .75em;
		max-height: 30px;
		width: auto;
		box-shadow: none;
		border-radius: 8px;
	}
	
	.site-header .site-description {
		display: none;
	}	
}

body.sticky-header {
	padding-top: 107px;
}

body.small-header.sticky-header {

	@include small-header;
}

@media only screen and (max-width: 60em) {
	body.sticky-header {
		padding-top: 58px;
		@include small-header;
	}
}

@media only screen and (max-width: 60em) {
	.sticky-header.small-header .primary-navigation {
		max-height: 60vh;
		overflow-y: auto;
	}

	.sticky-header.small-header .main-navigation > ul {
		margin-top: 1em;
	}
}

@media only screen and (max-width: 782px) {
	.sticky-header.admin-bar .site-header {
		top: 46px;
	}
}

@media only screen and (max-width: 600px) {
	.sticky-header.admin-bar.small-header .site-header {
		top: 0;
	}
}

/* Customizer Preview */
.customize-partial-edit-shortcut-poseidon_theme_options-excerpt_more {
	left: -9999px;
}
